.progressBar {
    --bar-bg: #ffe3d4;
    --seek-before-width: 100px;
    --seek-before-color: #ffc2a1;
    --knobby:  #3452a5;
    --selectedKnobby:  #26c9c3;
}

input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
}

.carbonfibre {

    background-color: #1e1e2f; /* Replace with your desired background color */
    background-image: radial-gradient(#888 0.2px, transparent 1px),
                      radial-gradient(#888 0.2px, transparent 1px);
    background-size: 6px 6px; /* Adjust spacing between dots */
    background-position: 0 0, 3px 3px; /* Adjust offset for the grid pattern */
}