@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


.personaboxskew {
    transform: skew(-10deg);

}

.personabox {
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    padding: 5px;
    flex-grow: 1;

}
.personabox:hover {
    color: #3ECAFF;
    background-color: rgba(0, 0, 0, 1);
    transition: 0.5s;

}

.personabox:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%; 
    background-color: #3ECAFF;
    z-index: -1;
    animation: animate-after 0.15s linear;

    animation-fill-mode: forwards;
    right: 0px;
    top: 0px;
}


@keyframes animate-after {
	0% {
        top: 0px;
        right: 0px;
        height: 100%;
        width: 100%;
        opacity: 30%;
    }
	100% {
        top: 0px;
        right: 10px;
        height: 100%;
        width: 110%;
        opacity: 100%;
	}

}








.scrolldiv {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 200px;
}

.playlistheader {
    display: flex;
    position: relative;
    color: white;
    min-width: 500px;
    font-size: 50px;
    font-weight: bold;


}


