@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Manrope', sans-serif; /* Apply Manrope font */
    color: white;
    overflow: hidden;

    @apply bg-_primary;
}
