@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Manrope', sans-serif; /* Apply Manrope font */
    color: white;
    overflow: hidden;

    background-image: url("./assets/Background.png");
        background-attachment:fixed;

            background-size: cover;
}
